.judul-tabel-id {
  text-align: center;
  width: 10%;
}

.judul-tabel-nama {
  text-align: center;
  width: 40%;
}

.judul-tabel-tanggal {
  text-align: center;
  width: 50%;
}

.data-tabel {
  text-align: center;
}
