.title {
  position: absolute;
  width: 187px;
  height: 60px;
  left: 23vw;
  top: 8vh;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;

  color: #0e483f;
}

.card-container {
  position: absolute;
  width: 924px;
  height: 80%;
  left: 23vw;
  top: 20vh;
}

.tambah-button {
  left: 80vw;
  top: 15vh;
  position: absolute;
}

a {
  text-decoration: none;
}

.bttn {
  width: 126px;
  height: 38px;
  padding: 5px 14px 5px 14px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #0e483f;
  color: white;
  text-align: center;
}
