.edit-button {
  /* margin-left: 410px; */
  margin-right: 20px;
  padding: 8px;
  background: #0e483f;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.card-body a {
  text-decoration: none;
}

.delete-button {
  margin: 0px 10px 0px 0px;
  padding: 8px 15px 8px 15px;
  background: #b12929;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.card-text-status {
  margin-right: 25vw;
}

.card {
  width: 900px;
  height: 150px;
  margin: 0 0 20px 0;
  overflow: hidden;
  /* background: #eaf6f5; */
}
